.cart-item{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:650px;
    padding: 10px;
    border-bottom: solid rgb(221, 218, 218) 1px;
}

.cart-item img{
    height: 100px;
    border-radius: 5px;
    border: solid rgb(233, 226, 226) 1px;
}

.cart-item p {
    width: 150px;
}

.item-qty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

button{
    border: none;
    outline: none;
    background: none;
}

.item-qty input {
    width: 30px;
}

