*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 420px;
    margin: auto;
    margin-top: 100px;  
    position: relative;
    border-radius: 10px;
    padding: 30px 40px;
}

.login p{
    margin-top: 10px;
    text-align: center;
    font-size: 14px; 
}

.login h1{
    font-size: 36px;
    text-align: center;
}

.login .input-box{
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0.3px solid black;
    border-radius: 40px;
    font-size: 20px;
    color: var(--textColor);
    padding: 15px 50px 15px 20px;
}

.input-box ::placeholder{
    color: black;
    position: absolute;
    margin-left: -40px;
}


.input-box svg{
    position: absolute;
    padding-top: 1px;
    right: 60px;
    top:auto;
    transform: translateY(75%); 
    font-size:20px;
}

.login .forgotpass {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    font-size: 15px;
    margin: 15px  0 15px;

}

.login button{
    width: 50%;
    height: 35px;   
    background: #fff;
    border: solid 0.3px black;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

.login button:hover{
    background: rgb(71, 71, 211);
}

.login .register-link{
    display: flex;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.login a{
    text-decoration: none;
    color: var(--textColor);
    padding-left: 5px; 
}


.login a:hover{
    color: rgb(71, 71, 211);
    font-size: 16px;
}
