header {
  width: 100vw;
  box-shadow: 3px 3px 3px #ccc;
  position: fixed;
  top: 0;
  margin: 0;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80 px;
  padding-right: 200px;
  padding-top: 0;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.searchbar {
  width: 400px;
  max-height: 35px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px, 20px;
  background-color: #eee;
  border: solid 0.3px black;
}

.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 10px;
  font-size: 16px;
}

::placeholder {
  color: #202025;
  padding-left: 150px;
  font-size: 16px;
}

.searchbar button {
  border: 0;
  border-radius: 50%;
  padding-top: 3px;
  padding-right: 10px;
  cursor: pointer;
}

.navlink {
  border: 0;
  background: none;
  padding-right: 30px;
  padding-left: 5px;
}
button {
  cursor: pointer;
}

ul {
  padding-top: 0;
}

li {
  padding: 0;
  margin: 0;
}
svg {
  padding-top: 0;
}
