@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.product-section {
    width: 1050px;
    height: 420px;
    padding: auto;
    margin: auto;
    margin-top: 25px;
    border: solid 1px rgb(121, 118, 118);
    border-radius: 5px;
    position: relative;
}

.product-container{
    display: flex;
    padding: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.product-container img{
    width: 500px;
    height: 350px;
    border-radius: 2px;
    border: solid rgb(233, 226, 226) 1px; 
    margin: 10px;   
}

.details {
    width:500px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 2px;
    border: solid rgb(233, 226, 226) 1px;
}


.cart-btn {
    background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
    width:250px;
    height: 30px;
    cursor: pointer;
}

.cart-btn:hover{
    background-color: rgb(71, 71, 211);
    font-size: 18px;
}

.close-btn {
    padding-top: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    left:    15px;
    bottom:   15px;
    border: 0;
 }

 .close-btn:hover{
    font-size: 18px;
    font-weight: bold;
 }