@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.ShoppingCart {
  width: 1050px;
  height: 600px;
  padding: auto;
  margin: auto;
  border: solid 1px rgb(121, 118, 118);
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  position: relative;
}

.items {
  width: 700px;
  border-radius: 10px;
  border: solid rgb(233, 226, 226) 1px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.summary {
  width: 350px;
  border-radius: 10px;
  border: solid rgb(233, 226, 226) 1px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
}

.item-box {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
